{
  "token": "YOUR_OAUTH_ACCESS_TOKEN_HERE",
  "refresh_token": "YOUR_REFRESH_TOKEN_HERE",
  "token_uri": "https://oauth2.googleapis.com/token",
  "client_id": "YOUR_CLIENT_ID_HERE",
  "client_secret": "YOUR_CLIENT_SECRET_HERE",
  "scopes": ["https://www.googleapis.com/auth/spreadsheets"],
  "universe_domain": "googleapis.com",
  "account": "",
  "expiry": "2025-12-31T23:59:59.999999Z"
}

